*.DS_STORE

# Entorno virtual
venv-grin38/
.venv/
venv311/

# Datos sensibles ManglarIA
manglaria_abril_timeseries.csv

# Máscaras temporales
resultados_manglaria/mask_*.npy
resultados_patrones/config_*.yaml

logs/
__pycache__/
*.pyc
resultados_manglaria/config_*.yaml
resultados_patrones/config_*.yaml

logs/
__pycache__/
*.pyc
